.context-menu{
    position: fixed;
    opacity: 0;
    height: 0;
    display: none;
    border: 1px solid #1f687281;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    transition: opacity .3s,  height .3s;
    box-sizing: border-box;
    box-shadow: 6px 6px 12px 0 rgba(0,0,0, .24)

}
.context-menu.show {
    display: block;
    opacity: 1;
    height: auto;
    transition: opacity .3s,  height .3s;
}
.context-menu-item {
    width: 150px;
    list-style: none;
    margin: 0;
    font-size: 16px;
    padding: 8px;
    transition: background-color .3s;
}
.context-menu-item:not(:first-child) {
    border-top: 1px solid #1f687281;
}
.context-menu-item:hover {
    background-color: #16d6f081
}
